footer {
    background-color: #212529;
    color: #FFF;
    padding: 30px 0;
    font-size: 0.9em;
}

body {
    background-color: #EEE;
    font-size: 18px;
    text-align: justify;
}

h1 {
    font-size: 2.1rem;
    padding-top: 20px;
}

h2 {
    font-size: 1.7rem;
}

p a {
    text-decoration: underline;
}

.post-preview {
    margin: 50px 0;
}

.copyright, .copyright a {
    color: #EEE;
    font-size: 12px !important;
    margin: 20px 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.copyright a:hover {
    color: #0085A1;
}

.comments {
    background-color: #FFF;
    margin-top: 20px;
    padding: 30px 0;
}

.pager {
    margin-bottom: 20px;
}

.highlight .lineno {
    color: #888;
    font-size: 87.5%;
    background: #34352d;
    text-align: center;
}

.rouge-gutter.gl {
    background: #34352d;
    padding: 0 10px;
    border-right: 1px solid #555;
}

.rouge-code {
    padding-left: 10px;
}

.highlight pre {
    color: #FFF;
}

.image-center {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

.image-width-justify-100 {
    width: 100%;
}

.image-width-justify-90 {
    width: 90%;
}

.image-width-justify-70 {
    width: 70%;
}

.image-rounded-corners {
    border-radius: 10px;
}

/*Captions*/
img + em,
div + p > em { 
    display: block;
    text-align: center;
    font-size: 0.9em;
    color: #333;
    padding-top: 5px;
}
/*Specific for code.*/
div + p > em {
    padding-top: 0px;
    margin-top: -25px;
}
