footer {
    background-color: #212529;
    color: #FFF;
    padding: 30px 0;
    font-size: 0.9em;
}

body {
    background-color: #EEE;
    font-size: 18px;
    text-align: justify;
}

h1 {
    font-size: 2.1rem;
    padding-top: 20px;
}

h2 {
    font-size: 1.7rem;
}

.post-preview {
    margin: 50px 0;
}

.copyright, .copyright a {
    color: #EEE;
    font-size: 12px !important;
    margin: 20px 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.copyright a:hover {
    color: #e74c3c;
}

.comments {
    background-color: #FFF;
    margin-top: 20px;
    padding: 30px 0;
}

.pager {
    margin-bottom: 20px;
}

.highlight .lineno {
    color: #888;
    font-size: 87.5%;
    background: #34352d;
    text-align: center;
}

.rouge-gutter.gl {
    background: #34352d;
    padding: 0 10px;
    border-right: 1px solid #555;
}

.rouge-code {
    padding-left: 10px;
}

.highlight pre {
    color: #FFF;
}

.image-center {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

.image-width-justify-100 {
    width: 100%;
}

.image-width-justify-90 {
    width: 90%;
}

.image-width-justify-70 {
    width: 70%;
}

.image-rounded-corners {
    border-radius: 10px;
}

/*Captions*/
img + em,
div + p > em { 
    display: block;
    text-align: center;
    font-size: 0.9em;
    color: #333;
    padding-top: 5px;
}
/*Specific for code.*/
div + p > em {
    padding-top: 0px;
    margin-top: -25px;
}

/* Custom organge */
.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
    color: #e74c3c;
}

.post-preview > a:focus, .post-preview > a:hover {
    color: #e74c3c;
}

.post-preview h2, .post-preview h3, .post-heading h1, .post-heading h2 {
    text-align: left;
}

::selection {
    background: #e74c3c;
}

a, p a {
    text-decoration: none;
    color: #e74c3c;
}

a:hover, a:focus {
    color: #BF4032;
    text-decoration: underline;
}

.btn-primary {
    background-color: #e74c3c;
    border-color: #BF4032;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #BF4032 !important;
    border-color: #BF4032 !important;
}

/* */

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, #mainNav {
    font-family: 'Source Sans Pro', sans-serif;
}

header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading {
    padding: 80px 0;
}

header.masthead {
    margin-bottom: 10px;
}