footer {
    background-color: #212529;
    color: #FFF;
    padding: 30px 0;
    font-size: 0.9em;
}

body {
    background-color: #EEE;
    font-size: 18px;
}

h1 {
    font-size: 2.1rem;
}

.post-preview {
    margin: 50px 0;
}

.copyright, .copyright a {
    color: #EEE;
    font-size: 12px !important;
    margin: 20px 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.copyright a:hover {
    color: #0085A1;
}

.comments {
    background-color: #FFF;
    margin-top: 20px;
    padding: 30px 0;
}

.pager {
    margin-bottom: 20px;
}

.highlight .lineno {
    color: #888;
    font-size: 87.5%;
    background: #34352d;
    text-align: center;
}

.rouge-gutter.gl {
    background: #34352d;
    padding: 0 10px;
    border-right: 1px solid #555;
}

.rouge-code {
    padding-left: 10px;
}

.highlight pre {
    color: #FFF;
}